<a href="https://colab.research.google.com/github/matheusjiran/python_pandas_course/blob/master/Project5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Creating a SQL DATABASE from json files**

In [18]:
import sqlite3 as sq3
import json
import pandas as pd

In [19]:
with open("some_movies.json") as f:
  data = json.load(f)

In [115]:
data

[{'adult': False,
  'backdrop_path': '/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg',
  'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  'budget': 356000000,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'homepage': 'https://www.marvel.com/movies/avengers-endgame',
  'id': 299534,
  'imdb_id': 'tt4154796',
  'original_language': 'en',
  'original_title': 'Avengers: Endgame',
  'overview': "After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos' actions and restore order to the universe once and for all, no matter what consequences may be in store.",
  'popularity': 50.279,
  'poster_path': '/or06FN3Dka5tukK1e9sl16pB3iy.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2019-04-24',
  'revenue': 2797800564,
  'runtime': 181,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'ja', 'name': '日本語'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',
  'tagline': 'Part of the journey is the end.',
  'title': 'Avengers: Endgame',
  'video': False,
  'vote_average': 8.3,
  'vote_count': 12607},
 {'adult': False,
  'backdrop_path': '/wcC7kCICL6x6zHUlUyNp9pWoqW1.jpg',
  'belongs_to_collection': {'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg',
   'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg'},
  'budget': 237000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'http://www.avatarmovie.com/',
  'id': 19995,
  'imdb_id': 'tt0499549',
  'original_language': 'en',
  'original_title': 'Avatar',
  'overview': 'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.',
  'popularity': 40.5,
  'poster_path': '/btnl50ZDJDSCal2NLQIYWw0XxvH.jpg',
  'production_companies': [{'id': 444,
    'logo_path': '/42UPdZl6B2cFXgNUASR8hSt9mpS.png',
    'name': 'Dune Entertainment',
    'origin_country': 'US'},
   {'id': 574,
    'logo_path': '/iB6GjNVHs5hOqcEYt2rcjBqIjki.png',
    'name': 'Lightstorm Entertainment',
    'origin_country': 'US'},
   {'id': 25,
    'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
    'name': '20th Century Fox',
    'origin_country': 'US'},
   {'id': 290,
    'logo_path': '/Q8mw2AOQQc8Qg0uNwLWq86DVZv.png',
    'name': 'Ingenious Media',
    'origin_country': 'GB'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'},
   {'iso_3166_1': 'GB', 'name': 'United Kingdom'}],
  'release_date': '2009-12-10',
  'revenue': 2787965087,
  'runtime': 162,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'es', 'name': 'Español'}],
  'status': 'Released',
  'tagline': 'Enter the World of Pandora.',
  'title': 'Avatar',
  'video': False,
  'vote_average': 7.4,
  'vote_count': 21000},
 {'adult': False,
  'backdrop_path': '/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg',
  'belongs_to_collection': {'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg',
   'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg'},
  'budget': 245000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
  'id': 140607,
  'imdb_id': 'tt2488496',
  'original_language': 'en',
  'original_title': 'Star Wars: The Force Awakens',
  'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
  'popularity': 36.198,
  'poster_path': '/9rd002JS49RwDW944fF1wjU8iTV.jpg',
  'production_companies': [{'id': 1634,
    'logo_path': None,
    'name': 'Truenorth Productions',
    'origin_country': 'IS'},
   {'id': 1,
    'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
    'name': 'Lucasfilm',
    'origin_country': 'US'},
   {'id': 11461,
    'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
    'name': 'Bad Robot',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-12-15',
  'revenue': 2068223624,
  'runtime': 136,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'Every generation has a story.',
  'title': 'Star Wars: The Force Awakens',
  'video': False,
  'vote_average': 7.4,
  'vote_count': 14205},
 {'adult': False,
  'backdrop_path': '/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg',
  'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  'budget': 300000000,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'https://www.marvel.com/movies/avengers-infinity-war',
  'id': 299536,
  'imdb_id': 'tt4154756',
  'original_language': 'en',
  'original_title': 'Avengers: Infinity War',
  'overview': 'As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.',
  'popularity': 78.331,
  'poster_path': '/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2018-04-25',
  'revenue': 2046239637,
  'runtime': 149,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',
  'tagline': 'An entire universe. Once and for all.',
  'title': 'Avengers: Infinity War',
  'video': False,
  'vote_average': 8.3,
  'vote_count': 17718},
 {'adult': False,
  'backdrop_path': '/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg',
  'belongs_to_collection': None,
  'budget': 200000000,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
  'homepage': '',
  'id': 597,
  'imdb_id': 'tt0120338',
  'original_language': 'en',
  'original_title': 'Titanic',
  'overview': "101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancé. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death—on its first and last voyage—on April 15, 1912.",
  'popularity': 38.062,
  'poster_path': '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg',
  'production_companies': [{'id': 4,
    'logo_path': '/fycMZt242LVjagMByZOLUGbCvv3.png',
    'name': 'Paramount',
    'origin_country': 'US'},
   {'id': 574,
    'logo_path': '/iB6GjNVHs5hOqcEYt2rcjBqIjki.png',
    'name': 'Lightstorm Entertainment',
    'origin_country': 'US'},
   {'id': 25,
    'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
    'name': '20th Century Fox',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1997-11-18',
  'revenue': 1845034188,
  'runtime': 194,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'fr', 'name': 'Français'},
   {'iso_639_1': 'de', 'name': 'Deutsch'},
   {'iso_639_1': 'sv', 'name': 'svenska'},
   {'iso_639_1': 'it', 'name': 'Italiano'},
   {'iso_639_1': 'ru', 'name': 'Pусский'}],
  'status': 'Released',
  'tagline': 'Nothing on Earth could come between them.',
  'title': 'Titanic',
  'video': False,
  'vote_average': 7.8,
  'vote_count': 16661},
 {'adult': False,
  'backdrop_path': '/9OywzJLgobAbSGfhMXligzTylko.jpg',
  'belongs_to_collection': {'backdrop_path': '/njFixYzIxX8jsn6KMSEtAzi4avi.jpg',
   'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg'},
  'budget': 150000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'homepage': 'http://www.jurassicworld.com/',
  'id': 135397,
  'imdb_id': 'tt0369610',
  'original_language': 'en',
  'original_title': 'Jurassic World',
  'overview': 'Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.',
  'popularity': 25.281,
  'poster_path': '/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg',
  'production_companies': [{'id': 3341,
    'logo_path': '/dTG5dXE1kU2mpmL9BNnraffckLU.png',
    'name': 'Fuji Television Network',
    'origin_country': 'JP'},
   {'id': 56,
    'logo_path': '/cEaxANEisCqeEoRvODv2dO1I0iI.png',
    'name': 'Amblin Entertainment',
    'origin_country': 'US'},
   {'id': 923,
    'logo_path': '/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png',
    'name': 'Legendary Entertainment',
    'origin_country': 'US'},
   {'id': 33,
    'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
    'name': 'Universal Pictures',
    'origin_country': 'US'},
   {'id': 1778,
    'logo_path': '/69xm6sF3JxugGVjfZfm1YY6d7EE.png',
    'name': 'Dentsu',
    'origin_country': 'JP'},
   {'id': 862,
    'logo_path': '/udTjbqPmcTbfrihMuLtLcizDEM1.png',
    'name': 'The Kennedy/Marshall Company',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-06-06',
  'revenue': 1671713208,
  'runtime': 124,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'The park is open.',
  'title': 'Jurassic World',
  'video': False,
  'vote_average': 6.6,
  'vote_count': 15399},
 {'adult': False,
  'backdrop_path': '/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg',
  'belongs_to_collection': None,
  'budget': 260000000,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'homepage': 'https://movies.disney.com/the-lion-king-2019',
  'id': 420818,
  'imdb_id': 'tt6105098',
  'original_language': 'en',
  'original_title': 'The Lion King',
  'overview': "Simba idolizes his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival. Scar, Mufasa's brother—and former heir to the throne—has plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy and drama, ultimately resulting in Simba's exile. With help from a curious pair of newfound friends, Simba will have to figure out how to grow up and take back what is rightfully his.",
  'popularity': 49.847,
  'poster_path': '/2bXbqYdUdNVa8VIWXVfclP2ICtT.jpg',
  'production_companies': [{'id': 2,
    'logo_path': '/wdrCwmRnLFJhEoH8GSfymY85KHT.png',
    'name': 'Walt Disney Pictures',
    'origin_country': 'US'},
   {'id': 7297,
    'logo_path': '/l29JYQVZbTcjZXoz4CUYFpKRmM3.png',
    'name': 'Fairview Entertainment',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2019-07-12',
  'revenue': 1656943394,
  'runtime': 118,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'The King has Returned.',
  'title': 'The Lion King',
  'video': False,
  'vote_average': 7.2,
  'vote_count': 5425},
 {'adult': False,
  'backdrop_path': '/v3A0T4fAz8xRugAkfUVkxGLd377.jpg',
  'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  'budget': 220000000,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'homepage': 'http://marvel.com/avengers_movie/',
  'id': 24428,
  'imdb_id': 'tt0848228',
  'original_language': 'en',
  'original_title': 'The Avengers',
  'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
  'popularity': 69.459,
  'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'},
   {'id': 4,
    'logo_path': '/fycMZt242LVjagMByZOLUGbCvv3.png',
    'name': 'Paramount',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2012-04-25',
  'revenue': 1519557910,
  'runtime': 143,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'hi', 'name': 'हिन्दी'},
   {'iso_639_1': 'ru', 'name': 'Pусский'}],
  'status': 'Released',
  'tagline': 'Some assembly required.',
  'title': 'The Avengers',
  'video': False,
  'vote_average': 7.7,
  'vote_count': 22101},
 {'adult': False,
  'backdrop_path': '/7X6zOOEzXTQJkzDgBHVly1BgyYu.jpg',
  'belongs_to_collection': {'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg',
   'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg'},
  'budget': 190000000,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'homepage': 'http://www.furious7.com/',
  'id': 168259,
  'imdb_id': 'tt2820852',
  'original_language': 'en',
  'original_title': 'Furious 7',
  'overview': 'Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.',
  'popularity': 22.032,
  'poster_path': '/d9jZ2bKZw3ptTuxAyVHA6olPAVs.jpg',
  'production_companies': [{'id': 87857,
    'logo_path': None,
    'name': 'Abu Dhabi Film Commission',
    'origin_country': ''},
   {'id': 33,
    'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
    'name': 'Universal Pictures',
    'origin_country': 'US'},
   {'id': 40890,
    'logo_path': None,
    'name': 'China Film Co.',
    'origin_country': 'CN'},
   {'id': 333,
    'logo_path': '/5xUJfzPZ8jWJUDzYtIeuPO4qPIa.png',
    'name': 'Original Film',
    'origin_country': 'US'},
   {'id': 3341,
    'logo_path': '/dTG5dXE1kU2mpmL9BNnraffckLU.png',
    'name': 'Fuji Television Network',
    'origin_country': 'JP'},
   {'id': 86352,
    'logo_path': None,
    'name': 'Québec Production Services Tax Credit',
    'origin_country': ''},
   {'id': 87858,
    'logo_path': None,
    'name': 'Colorado Office of Film, Television & Media',
    'origin_country': ''},
   {'id': 1778,
    'logo_path': '/69xm6sF3JxugGVjfZfm1YY6d7EE.png',
    'name': 'Dentsu',
    'origin_country': 'JP'},
   {'id': 2531,
    'logo_path': '/pC2iDCDCvV85vOBP7a5Ukxuc0Du.png',
    'name': 'Media Rights Capital',
    'origin_country': 'US'},
   {'id': 1225,
    'logo_path': None,
    'name': 'One Race',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-04-01',
  'revenue': 1515047671,
  'runtime': 137,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'Vengeance Hits Home',
  'title': 'Furious 7',
  'video': False,
  'vote_average': 7.3,
  'vote_count': 7359},
 {'adult': False,
  'backdrop_path': '/4zmNJNQkugbalqJLnKp0wnlp8i3.jpg',
  'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  'budget': 250000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'http://marvel.com/movies/movie/193/avengers_age_of_ultron',
  'id': 99861,
  'imdb_id': 'tt2395427',
  'original_language': 'en',
  'original_title': 'Avengers: Age of Ultron',
  'overview': 'When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.',
  'popularity': 43.805,
  'poster_path': '/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-04-22',
  'revenue': 1405403694,
  'runtime': 141,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'A New Age Has Come.',
  'title': 'Avengers: Age of Ultron',
  'video': False,
  'vote_average': 7.3,
  'vote_count': 15548},
 {'adult': False,
  'backdrop_path': '/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg',
  'belongs_to_collection': {'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg',
   'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg'},
  'budget': 200000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'https://marvel.com/movies/movie/224/black_panther',
  'id': 284054,
  'imdb_id': 'tt1825683',
  'original_language': 'en',
  'original_title': 'Black Panther',
  'overview': "King T'Challa returns home from America to the reclusive, technologically advanced African nation of Wakanda to serve as his country's new leader. However, T'Challa soon finds that he is challenged for the throne by factions within his own country as well as without. Using powers reserved to Wakandan kings, T'Challa assumes the Black Panther mantel to join with girlfriend Nakia, the queen-mother, his princess-kid sister, members of the Dora Milaje (the Wakandan 'special forces') and an American secret agent, to prevent Wakanda from being dragged into a world war.",
  'popularity': 36.581,
  'poster_path': '/uxzzxijgPIY7slzFvMotPv8wjKA.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'},
   {'id': 2,
    'logo_path': '/wdrCwmRnLFJhEoH8GSfymY85KHT.png',
    'name': 'Walt Disney Pictures',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2018-02-13',
  'revenue': 1346739107,
  'runtime': 134,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'ko', 'name': '한국어/조선말'},
   {'iso_639_1': 'sw', 'name': 'Kiswahili'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',

In [116]:
df = pd.json_normalize(data, sep=",")

In [117]:
df

    adult  ... belongs_to_collection
0   False  ...                   NaN
1   False  ...                   NaN
2   False  ...                   NaN
3   False  ...                   NaN
4   False  ...                   NaN
5   False  ...                   NaN
6   False  ...                   NaN
7   False  ...                   NaN
8   False  ...                   NaN
9   False  ...                   NaN
10  False  ...                   NaN
11  False  ...                   NaN
12  False  ...                   NaN
13  False  ...                   NaN
14  False  ...                   NaN
15  False  ...                   NaN
16  False  ...                   NaN
17  False  ...                   NaN

[18 rows x 29 columns]

In [118]:
list(df)

['adult',
 'backdrop_path',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count',
 'belongs_to_collection,id',
 'belongs_to_collection,name',
 'belongs_to_collection,poster_path',
 'belongs_to_collection,backdrop_path',
 'belongs_to_collection']

In [133]:
movies = df[["id","release_date","belongs_to_collection","budget","revenue","vote_count","vote_average"]].copy()
movies

        id release_date  ...  vote_count  vote_average
0   299534   2019-04-24  ...       12607           8.3
1    19995   2009-12-10  ...       21000           7.4
2   140607   2015-12-15  ...       14205           7.4
3   299536   2018-04-25  ...       17718           8.3
4      597   1997-11-18  ...       16661           7.8
5   135397   2015-06-06  ...       15399           6.6
6   420818   2019-07-12  ...        5425           7.2
7    24428   2012-04-25  ...       22101           7.7
8   168259   2015-04-01  ...        7359           7.3
9    99861   2015-04-22  ...       15548           7.3
10  284054   2018-02-13  ...       14830           7.4
11   12445   2011-07-07  ...       13447           8.1
12  181808   2017-12-13  ...       10304           7.0
13  330457   2019-11-20  ...        3982           7.2
14  351286   2018-06-06  ...        7337           6.5
15  109445   2013-11-27  ...       11616           7.3
16  321612   2017-03-16  ...       12203           6.9
17  260513   2018-06-14  ...        8147           7.5

[18 rows x 7 columns]

In [136]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     18 non-null     int64
 1   release_date           18 non-null     datetime64[ns]
 2   belongs_to_collection  0 non-null      float64
 3   budget                 18 non-null     int64
 4   revenue                18 non-null     int64
 5   vote_count             18 non-null     int64
 6   vote_average           18 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 1.1 KB

In [135]:
movies.release_date = pd.to_datetime(df['release_date'],errors='coerce')
movies.release_date

0    2019-04-24
1    2009-12-10
2    2015-12-15
3    2018-04-25
4    1997-11-18
5    2015-06-06
6    2019-07-12
7    2012-04-25
8    2015-04-01
9    2015-04-22
10   2018-02-13
11   2011-07-07
12   2017-12-13
13   2019-11-20
14   2018-06-06
15   2013-11-27
16   2017-03-16
17   2018-06-14
Name: release_date, dtype: datetime64[ns]

In [137]:
movies.revenue = df.revenue/1000000
movies.budget = df.revenue/1000000

In [138]:
movies.revenue

0     2797.800564
1     2787.965087
2     2068.223624
3     2046.239637
4     1845.034188
5     1671.713208
6     1656.943394
7     1519.557910
8     1515.047671
9     1405.403694
10    1346.739107
11    1341.511219
12    1332.539889
13    1330.764959
14    1303.459585
15    1274.219009
16    1263.521126
17    1241.891456
Name: revenue, dtype: float64

In [57]:
votes = df[["id","vote_count","vote_average","release_date"]].copy()
votes

        id  vote_count  vote_average release_date
0   299534       12607           8.3   2019-04-24
1    19995       21000           7.4   2009-12-10
2   140607       14205           7.4   2015-12-15
3   299536       17718           8.3   2018-04-25
4      597       16661           7.8   1997-11-18
5   135397       15399           6.6   2015-06-06
6   420818        5425           7.2   2019-07-12
7    24428       22101           7.7   2012-04-25
8   168259        7359           7.3   2015-04-01
9    99861       15548           7.3   2015-04-22
10  284054       14830           7.4   2018-02-13
11   12445       13447           8.1   2011-07-07
12  181808       10304           7.0   2017-12-13
13  330457        3982           7.2   2019-11-20
14  351286        7337           6.5   2018-06-06
15  109445       11616           7.3   2013-11-27
16  321612       12203           6.9   2017-03-16
17  260513        8147           7.5   2018-06-14

In [62]:
genres = pd.json_normalize(data = data, record_path = "genres", meta = "id", record_prefix="genres_")
genres

    genres_id      genres_name      id
0          12        Adventure  299534
1         878  Science Fiction  299534
2          28           Action  299534
3          28           Action   19995
4          12        Adventure   19995
5          14          Fantasy   19995
6         878  Science Fiction   19995
7          28           Action  140607
8          12        Adventure  140607
9         878  Science Fiction  140607
10         14          Fantasy  140607
11         12        Adventure  299536
12         28           Action  299536
13        878  Science Fiction  299536
14         18            Drama     597
15      10749          Romance     597
16         28           Action  135397
17         12        Adventure  135397
18        878  Science Fiction  135397
19         53         Thriller  135397
20         12        Adventure  420818
21      10751           Family  420818
22        878  Science Fiction   24428
23         28           Action   24428
24         12        Adventure   24428
25         28           Action  168259
26         53         Thriller  168259
27         28           Action   99861
28         12        Adventure   99861
29        878  Science Fiction   99861
30         28           Action  284054
31         12        Adventure  284054
32         14          Fantasy  284054
33        878  Science Fiction  284054
34         14          Fantasy   12445
35         12        Adventure   12445
36        878  Science Fiction  181808
37         28           Action  181808
38         12        Adventure  181808
39         16        Animation  330457
40      10751           Family  330457
41         12        Adventure  330457
42         28           Action  351286
43         12        Adventure  351286
44        878  Science Fiction  351286
45         16        Animation  109445
46         12        Adventure  109445
47      10751           Family  109445
48      10751           Family  321612
49         14          Fantasy  321612
50      10749          Romance  321612
51         28           Action  260513
52         12        Adventure  260513
53         16        Animation  260513
54      10751           Family  260513

In [65]:
prod = pd.json_normalize(data = data, record_path="production_companies", meta="id", record_prefix="company_")
prod

    company_id                 company_logo_path  ... company_origin_country      id
0          420  /hUzeosd33nzE5MCNsZxCGEKTXaQ.png  ...                     US  299534
1          444  /42UPdZl6B2cFXgNUASR8hSt9mpS.png  ...                     US   19995
2          574  /iB6GjNVHs5hOqcEYt2rcjBqIjki.png  ...                     US   19995
3           25  /qZCc1lty5FzX30aOCVRBLzaVmcp.png  ...                     US   19995
4          290   /Q8mw2AOQQc8Qg0uNwLWq86DVZv.png  ...                     GB   19995
5         1634                              None  ...                     IS  140607
6            1  /o86DbpburjxrqAzEDhXZcyE8pDb.png  ...                     US  140607
7        11461  /p9FoEt5shEKRWRKVIlvFaEmRnun.png  ...                     US  140607
8          420  /hUzeosd33nzE5MCNsZxCGEKTXaQ.png  ...                     US  299536
9            4  /fycMZt242LVjagMByZOLUGbCvv3.png  ...                     US     597
10         574  /iB6GjNVHs5hOqcEYt2rcjBqIjki.png  ...                     US     597
11          25  /qZCc1lty5FzX30aOCVRBLzaVmcp.png  ...                     US     597
12        3341  /dTG5dXE1kU2mpmL9BNnraffckLU.png  ...                     JP  135397
13          56  /cEaxANEisCqeEoRvODv2dO1I0iI.png  ...                     US  135397
14         923  /5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png  ...                     US  135397
15          33  /8lvHyhjr8oUKOOy2dKXoALWKdp0.png  ...                     US  135397
16        1778  /69xm6sF3JxugGVjfZfm1YY6d7EE.png  ...                     JP  135397
17         862  /udTjbqPmcTbfrihMuLtLcizDEM1.png  ...                     US  135397
18           2  /wdrCwmRnLFJhEoH8GSfymY85KHT.png  ...                     US  420818
19        7297  /l29JYQVZbTcjZXoz4CUYFpKRmM3.png  ...                     US  420818
20         420  /hUzeosd33nzE5MCNsZxCGEKTXaQ.png  ...                     US   24428
21           4  /fycMZt242LVjagMByZOLUGbCvv3.png  ...                     US   24428
22       87857                              None  ...                         168259
23          33  /8lvHyhjr8oUKOOy2dKXoALWKdp0.png  ...                     US  168259
24       40890                              None  ...                     CN  168259
25         333  /5xUJfzPZ8jWJUDzYtIeuPO4qPIa.png  ...                     US  168259
26        3341  /dTG5dXE1kU2mpmL9BNnraffckLU.png  ...                     JP  168259
27       86352                              None  ...                         168259
28       87858                              None  ...                         168259
29        1778  /69xm6sF3JxugGVjfZfm1YY6d7EE.png  ...                     JP  168259
30        2531  /pC2iDCDCvV85vOBP7a5Ukxuc0Du.png  ...                     US  168259
31        1225                              None  ...                     US  168259
32         420  /hUzeosd33nzE5MCNsZxCGEKTXaQ.png  ...                     US   99861
33         420  /hUzeosd33nzE5MCNsZxCGEKTXaQ.png  ...                     US  284054
34           2  /wdrCwmRnLFJhEoH8GSfymY85KHT.png  ...                     US  284054
35         174   /IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png  ...                     US   12445
36         437  /nu20mtwbEIhUNnQ5NXVhHsNknZj.png  ...                     GB   12445
37           1  /o86DbpburjxrqAzEDhXZcyE8pDb.png  ...                     US  181808
38       11092                              None  ...                     US  181808
39           2  /wdrCwmRnLFJhEoH8GSfymY85KHT.png  ...                     US  181808
40        6125  /tVPmo07IHhBs4HuilrcV0yujsZ9.png  ...                     US  330457
41           2  /wdrCwmRnLFJhEoH8GSfymY85KHT.png  ...                     US  330457
42          56  /cEaxANEisCqeEoRvODv2dO1I0iI.png  ...                     US  351286
43         923  /5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png  ...                     US  351286
44          33  /8lvHyhjr8oUKOOy2dKXoALWKdp0.png  ...                     US  351286
45       10338  /el2ap6lvjcEDdbyJoB3oKiYgXu9.png  ...                     CN  351286
46           2  /wdrCwmRnLFJhEoH8GSfymY85KHT.png  ...                     US  109445
47        6125  /tVPmo07IHhBs4HuilrcV0yujsZ9.png  ...                     US  109445
48           2  /wdrCwmRnLFJhEoH8GSfymY85KHT.png  ...                     US  321612
49       10227  /3YfRy3DBl4abcqkzGx4RVNz12yl.png  ...                     US  321612
50           2  /wdrCwmRnLFJhEoH8GSfymY85KHT.png  ...                     US  260513
51           3  /1TjvGVDMYsj6JBxOAkUHpPEwLf7.png  ...                     US  260513

[52 rows x 5 columns]

In [67]:
con = sq3.connect("movies.db")
con

In [100]:
con.execute("DROP TABLE movies").fetchall()

[]

In [128]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     18 non-null     int64
 1   title                  18 non-null     object
 2   release_date           18 non-null     datetime64[ns]
 3   genres                 18 non-null     object
 4   belongs_to_collection  0 non-null      float64
 5   budget                 18 non-null     float64
 6   revenue                18 non-null     float64
 7   original_language      18 non-null     object
 8   vote_count             18 non-null     int64
 9   vote_average           18 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 1.5+ KB

In [139]:
movies.to_sql("movies", con , index=False, if_exists='replace')

In [70]:
genres.to_sql("genres",con,index=False)

In [71]:
prod.to_sql("prod",con,index=False)

In [74]:
votes.to_sql("votes",con,index=False)

In [75]:
con.execute("SELECT * FROM sqlite_master").fetchall()

[('table',
  'Movies',
  'Movies',
  2,
  'CREATE TABLE "Movies" (\n"id" INTEGER,\n  "title" TEXT,\n  "release_date" TIMESTAMP,\n  "genres" TEXT,\n  "belongs_to_collection_name" TEXT,\n  "budget" REAL,\n  "revenue" REAL,\n  "original_language" TEXT,\n  "vote_count" INTEGER,\n  "vote_average" REAL\n)'),
 ('table',
  'genres',
  'genres',
  3,
  'CREATE TABLE "genres" (\n"genres_id" INTEGER,\n  "genres_name" TEXT,\n  "id" INTEGER\n)'),
 ('table',
  'prod',
  'prod',
  4,
  'CREATE TABLE "prod" (\n"company_id" INTEGER,\n  "company_logo_path" TEXT,\n  "company_name" TEXT,\n  "company_origin_country" TEXT,\n  "id" INTEGER\n)'),
 ('table',
  'votes',
  'votes',
  5,
  'CREATE TABLE "votes" (\n"id" INTEGER,\n  "vote_count" INTEGER,\n  "vote_average" REAL,\n  "release_date" TEXT\n)')]

In [77]:
con.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name").fetchall()

[('Movies',), ('genres',), ('prod',), ('votes',)]

In [78]:
con.close()

#**Loading Data from an SQL DATABASE into DataFrames**

In [ ]:
import pandas as pd
import sqlite3 as sq3

In [81]:
con = sq3.connect("movies.db")

In [83]:
con.execute("SELECT * from sqlite_master").fetchall()

[('table',
  'Movies',
  'Movies',
  2,
  'CREATE TABLE "Movies" (\n"id" INTEGER,\n  "title" TEXT,\n  "release_date" TIMESTAMP,\n  "genres" TEXT,\n  "belongs_to_collection_name" TEXT,\n  "budget" REAL,\n  "revenue" REAL,\n  "original_language" TEXT,\n  "vote_count" INTEGER,\n  "vote_average" REAL\n)'),
 ('table',
  'genres',
  'genres',
  3,
  'CREATE TABLE "genres" (\n"genres_id" INTEGER,\n  "genres_name" TEXT,\n  "id" INTEGER\n)'),
 ('table',
  'prod',
  'prod',
  4,
  'CREATE TABLE "prod" (\n"company_id" INTEGER,\n  "company_logo_path" TEXT,\n  "company_name" TEXT,\n  "company_origin_country" TEXT,\n  "id" INTEGER\n)'),
 ('table',
  'votes',
  'votes',
  5,
  'CREATE TABLE "votes" (\n"id" INTEGER,\n  "vote_count" INTEGER,\n  "vote_average" REAL,\n  "release_date" TEXT\n)')]

In [90]:
pd.read_sql("SELECT * FROM votes",con).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            18 non-null     int64
 1   vote_count    18 non-null     int64
 2   vote_average  18 non-null     float64
 3   release_date  18 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 704.0+ bytes

In [141]:
df = pd.read_sql("SELECT * FROM movies",con, index_col="id",parse_dates="release_date")
df

       release_date belongs_to_collection  ...  vote_count  vote_average
id                                         ...
299534   2019-04-24                  None  ...       12607           8.3
19995    2009-12-10                  None  ...       21000           7.4
140607   2015-12-15                  None  ...       14205           7.4
299536   2018-04-25                  None  ...       17718           8.3
597      1997-11-18                  None  ...       16661           7.8
135397   2015-06-06                  None  ...       15399           6.6
420818   2019-07-12                  None  ...        5425           7.2
24428    2012-04-25                  None  ...       22101           7.7
168259   2015-04-01                  None  ...        7359           7.3
99861    2015-04-22                  None  ...       15548           7.3
284054   2018-02-13                  None  ...       14830           7.4
12445    2011-07-07                  None  ...       13447           8.1
181808   2017-12-13                  None  ...       10304           7.0
330457   2019-11-20                  None  ...        3982           7.2
351286   2018-06-06                  None  ...        7337           6.5
109445   2013-11-27                  None  ...       11616           7.3
321612   2017-03-16                  None  ...       12203           6.9
260513   2018-06-14                  None  ...        8147           7.5

[18 rows x 6 columns]

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 299534 to 260513
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   release_date           18 non-null     datetime64[ns]
 1   belongs_to_collection  0 non-null      object
 2   budget                 18 non-null     float64
 3   revenue                18 non-null     float64
 4   vote_count             18 non-null     int64
 5   vote_average           18 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 1008.0+ bytes

In [144]:
genres = pd.read_sql("SELECT * FROM genres",con, index_col="id")
genres

        genres_id      genres_name
id
299534         12        Adventure
299534        878  Science Fiction
299534         28           Action
19995          28           Action
19995          12        Adventure
19995          14          Fantasy
19995         878  Science Fiction
140607         28           Action
140607         12        Adventure
140607        878  Science Fiction
140607         14          Fantasy
299536         12        Adventure
299536         28           Action
299536        878  Science Fiction
597            18            Drama
597         10749          Romance
135397         28           Action
135397         12        Adventure
135397        878  Science Fiction
135397         53         Thriller
420818         12        Adventure
420818      10751           Family
24428         878  Science Fiction
24428          28           Action
24428          12        Adventure
168259         28           Action
168259         53         Thriller
99861          28           Action
99861          12        Adventure
99861         878  Science Fiction
284054         28           Action
284054         12        Adventure
284054         14          Fantasy
284054        878  Science Fiction
12445          14          Fantasy
12445          12        Adventure
181808        878  Science Fiction
181808         28           Action
181808         12        Adventure
330457         16        Animation
330457      10751           Family
330457         12        Adventure
351286         28           Action
351286         12        Adventure
351286        878  Science Fiction
109445         16        Animation
109445         12        Adventure
109445      10751           Family
321612      10751           Family
321612         14          Fantasy
321612      10749          Romance
260513         28           Action
260513         12        Adventure
260513         16        Animation
260513      10751           Family

In [145]:
con.close()